@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');  */
/* @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Monsieur+La+Doulaise&family=Ms+Madi&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: black;
    width: 1440px;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
}
#shape{
    /* font-family: "Qwitcher Grypen", cursive; */
    /* font-family: "Allura", cursive; */
    /* font-family: "Herr Von Muellerhoff", cursive; */
    font-family: "Monsieur La Doulaise", cursive;
    /* font-family: "Ms Madi", cursive; */
    font-weight: 400;
    font-size: 10rem;
}

/* Nav style starts here  */
.header-container{
    /* width: 1440px; */
    width: 100%;
    height: 775px;
    padding-top: 60px;
    background: linear-gradient(180.00deg, rgb(17,17,17),rgba(119,119,119,0) 100%);
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-left: 190px;
    margin-right: 190px;
    gap: 88px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 47px;
    justify-content: flex-start;
    align-items: flex-start;
}
.nav-header{
    /* font-size: 36px; */
    font-size: 2rem;
    color: rgb(230,83,60);
}
.nav-link{
    color: rgb(255,255,255);
    text-decoration: none;
}
.home{
    /* font-size: 18px; */
    font-size: 1rem;
    font-weight: 600;
    width: 92px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
    border-radius: 46px;
    background-color: rgb(230,83,60);
}
/* Nav style ends here  */
/* Banner styles starts here  */
.banner-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 88px;
    margin: 0 auto;
    margin-left: 190px;
    margin-right: 190px;
}
.banner-container{
    width: 600px;
    /* width: 41%; */
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align:left;
    gap: 10px;
}
.banner-header{
    /* font-size: 68px; */
    font-size: 6rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgb(255,255,255);
    padding: 0;
    gap: 0;
    margin: 0;
}
.banner-description{
    /* font-size: 16px; */
    font-size: 0.88rem;
    font-weight: 400;
    color: rgb(255,255,255,0.5);
}
.btn-join{
    width: 224px;
    height: 54px;
    background-color: rgb(230,83,60);
    border-radius: 42px;
    border: none;
    /* font-size: 18px; */
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255,255,255);
}
.btn-app{
    width: 224px;
    height: 54px;
    box-sizing: border-box;
    border-radius: 42px;
    border: 1px solid rgb(255,255,255);
    /* border-radius: 42px; */
    /* font-size: 18px; */
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255,255,255);
    background: none;
}
.img-container{
    width: 350px;
    /* width: 24%; */
    height: 580px;
}
.img-container > img{
    width: 100%;
}
#btn-350{
    width: 206px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    background: rgba(48,48,48,0.54); 
    gap: 12px;
    padding: 20px 23px 20px 23px;
    margin-left: -113px;
    margin-top: -160px;
}
#ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230,83,60);
}
#content-350{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#header-350{
    /* font-size: 24px; */
    font-size: 1.33rem;
    font-weight: 900;
    color: rgb(250,250,249);
    margin-bottom: 0;
}
#description-350{
    /* font-size: 16px; */
    font-size: 0.88rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 0;
}
#btn-500{
    width: 193px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255,255,255,0.1);
    gap: 5px;
    margin-top: -357px;
    margin-left: 230px;
}
#header-500{
    /* font-size: 40px; */
    font-size: 2.22rem;
    font-weight: 900;
    color: rgb(255,255,255);
    margin-bottom: 0;
}
#description-500{
    /* font-size: 13px; */
    font-size: .72rem;
    font-weight: 400;
    color: rgba(255, 255, 255,0.65);
    margin-top: 0;
}
/* Banner styles ends here  */
/* your habits styles starts here  */

.habits{
    /* width: 1044px; */
    width: 72%;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
}
.habits-text{
    text-align: center;
    gap: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.habits-title{
    font-size: 2.7rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding-bottom: 0px;
    margin-bottom: 14px;
}
.habits-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.habits-img-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 0;
    padding-top: 0; 
}
.habits img{
    width: 100%;
}
.habits-img-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 231px;
    height: 274px;
}
.habits-img{
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.habits-img-title{
    /* font-size: 18px; */
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding-bottom: 0;
    margin-bottom: 0;
}
.habits-img-description{
    /* font-size: 14px; */
    font-size: .77rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 0;
    margin-top: 0;
}

/* your habits styles ends here  */
/* Run extra mile styles starts here  */
.extra{
    display: flex;
    flex-direction: row;
    /* width: 1060px; */
    width: 74%;
    height: 371px;
    margin: 100px 190px;
    background-color: rgb(34,34,34);
    border-radius: 18px;
    gap: 165px;
}
.extra-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    margin-top: 0;
}
.extra-title{
    font-size: 2.7rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
.extra-description{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    gap: 5px;
}
#btn-join-now{
    width: 224px;
    height: 54px;
    background: rgb(230,83,60);
    border-radius: 42px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.extra-img{
    border-radius: 18px;
    width: 366px;
    height: 312px;
    padding: 30px 32px;
}
.extra img{
    width: 150%;
    width: 366px;
    height: 312px;
    border-radius: 18px;
}
/* Run extra mile styles ends here  */
/* BMI calculator styles starts here  */
.bmi-calculator{
    /* width: 671px; */
    width: 47%;
    height: 120px;
    margin: 88px auto;
}
.bmi-title{
    /* font-size: 48px; */
    font-size: 2.66rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
.bmi-description{
    /* font-size: 14px; */
    font-size: 0.77rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.calculator-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 1440px;
    height: 487px;
    background-color: rgb(34, 34, 34);
    /* padding: 50px 190px; */
    gap: 175px;
}
.calculator-title{
    /* font-size: 28px; */
    font-size: 1.56rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
table{
    border-collapse: collapse;
}
td, th{
    border: 2px solid rgb(255,255,255);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    color: rgb(255,255,255);
    text-align: left;
}
.calculate-bmi{
display: flex;
flex-direction: column;
justify-content:space-around;
align-items:self-start;
gap: 30px;

}
.calculate-bmi-title{
    /* font-size: 28px; */
    font-size: 1.56rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
.calculate-bmi-description{
    /* font-size: 14px; */
    font-size: 0.77rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 0;
    margin: 0;
}
.bmi-input{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;
}
.calculate-bmi-text{
    width: 577px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
}
.bmi-input-text{
    width: 282.5px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: none;
}
.calculate-bmi-button{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
    background-color: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
/* BMI calculator styles ends here  */
/* meet team styles starts here  */
.meet-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 58px;
}
.meet-team-container{
   text-align: center;
}
.meet-team-title{
    font-size: 2.6rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
.meet-team-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(255,255,255,0.5);
    margin: 0;
    padding: 0;
}
.meet-team-content{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 0;
    border-radius: 20px;
    gap: 30px;
}
.meet-team-img-content{
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 20px;
}
.meet-team-img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
}
.meet-team-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.meet-team-text{
    background: none;
    color: white;
    position: absolute;
    bottom: 20px;
}
/* meet team styles ends here  */
/* Footer section styles starts here  */
footer{
    /* width: 1440px; */
    width: 100%;
    height: 489px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
    margin-top: 88px;
    padding-bottom: 0;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 1059px; */
    width: 73%;
    height: 249px;
    margin: 70px auto;
}
.footer-fitness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer-fitness-title{
    font-size: 3.22rem;
    font-weight: 700;
    color: rgb(230,83,60);
    margin: 0;
    padding: 0;
}
.footer-fitness-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(255,255,255,0.5);
}
.footer-get{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}
.footer-get-title{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    padding-top: 50px;
}
.footer-get-list{
    font-size: 1.33rem;
    font-weight: 400;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(255,255,255,0.5);
    gap: 10px;
    margin: 0;
    padding: 0;
}
.hr{
    /* width: 1070px; */
    width: 74%;
    margin: 0 auto;
    color: rgb(255,255,255,0.1);
}
.footer-reserve{
    font-size: 1rem;
    font-weight: 400;
    text-align:center;
    color: rgb(255,255,255,0.5);
    padding-bottom: 0;
    margin: 0;
}
/* Footer section styles ends here  */
/* mobile response section starts here  */
@media screen and (max-width : 576px){
    body{
        width: 576px;
        /* width: 100%; */
        padding: 0px;
        margin: 0px;
    }
    *{
        margin: 0;
        padding: 0;
    }
    /* Header response starts here  */
    .header-container{
        /* width: 576px; */
        width: 100%;
        height: 1300px;
        padding: 15px;
        background: linear-gradient(180.00deg, rgba(119,119,119,0) 100%);
    }
    .nav-container{
        padding: 0;
        margin: 10px;
    }
    .nav-list{
        display: none;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .nav-img{
        width: 40px;
        height: 40px;
        background-color: rgb(17,17,17);
    }
    .nav-img img{
        width: 100%;
        height: 100%;
    }
    .banner-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px;
        padding: 15px;
    }
    .banner-header{
        font-size: 4rem;
    }
    .ball-img{
        width: 40px;
        height: 40px;
        background-color: rgb(234, 50, 50);
        border-radius: 50%;
    }
    /* Header response ends here  */
    /* Your Habits response starts here  */
    .habits{
        /* width: 576px; */
        width: 100%;
        height: 1400px;
        margin-bottom: 70px;
    }
    .habits-img-container{
        flex-direction: column;
    }
    /* Your Habits response ends here  */
    /* Run extra mile response starts here  */
    .extra{
        display: flex;
        flex-direction: column;
        /* width: 550px; */
        width: 95%;
        height: 760px;
        margin: 0;
        padding: 0;
        gap: 10px;
    }
    .extra img{
        width: 100%;
    }
    .extra-img{
        border-radius: 18px;
        /* width: 480px; */
        width: 83%;
        height: 312px;
        margin: 0;
    }
    #btn-join-now{
        /* width: 440px; */
        width: 76%;
        height: 80px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    /* Run extra mile response ends here  */

    /* BMI calculator response starts here  */
    .bmi-calculator{
        /* width: 550px; */
        width: 95%;
        height: 130px;
    }
    .calculator-container{
        flex-direction: column;
        /* width: 576px; */
        width: 100%;
        height: 750px;
        background-color: rgb(34, 34, 34);
        /* padding: 50px 190px; */
        gap: 30px;
        padding: 25px;
        margin-bottom: 80px;
    }
    .calculate-bmi-text{
        width: 550px;
        /* width: 95%; */
    }
    .bmi-input-text{
        width: 269px;
        /* width: 95%; */
    }
    /* BMI calculator response ends here  */
    /* meet team response starts here  */
    .meet-team-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-bottom: 80px;
    }
    /* meet team response ends here  */
    /* footer response starts here  */
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 576px;
        /* width: 110%; */
        height: 800px;
        /* margin: 0;
        padding: 0; */
        background-color: rgba(255, 255, 255, 0.1);
        gap: 5px;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 80%;
    }
    .footer-get{
        align-items: start;
    }
    .hr{
        /* width: 480px; */
        width: 83%;
    }
    .footer-reserve{
        margin: 0;
        padding: 0;
        height: 20%;
        text-align: center;
    }
    /* footer response ends here  */
}
/* mobile response section ends here  */
/* Laptop response section starts here  */
@media screen and (min-width : 992px){
.nav-img{
    display: none;
}
.ball-img{
    display: none;
}
}


/* Laptop response section ends here  */